@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.skills {
    h2 {
        @include h2;
    }
    h3 {
        text-align: center;
        letter-spacing: 1px;
    }
    &--container {
        display: flex;
        gap: 7rem;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem 0;
        .skill {
            text-align: center;
        }
    }
}