@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Ubuntu:wght@300;400;500;700&display=swap');

$background: #DADFF7;
$main-text: #1B4965;
$accent-text: #F45B69;
$accent-text-other: #FC9F5B;
$font-main: 'Ubuntu', sans-serif;
$font-secondary: 'Open Sans', sans-serif;